<h1>Projects</h1>
<p>Here are all of the projects (<%= link_to 'CSV', projects_path(:format => 'csv'), data: { 'no-turbolink' => true } %>):</p>
<table>
	<tbody>
		<tr>
			<th>Project</th>
			<th>Company</th>
		</tr>
		<%= render partial: "project", collection: @projects %>
	</tbody>
</table>
