$('<div class="comment"><%= escape_javascript(render @comment) %></div>').insertAfter('form#new_comment');
$('span#num_comments').html(<%= @comment.post.comments.size %>);
$('textarea#comment_content').val('');

